html,
body {
  margin: 0;
}

body {
  font-family: 'Fira Sans';
  background-color: #ddd;
}

h1 {
  font-size: 48px;
}

#update-physics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin: auto;
}

#content {
  text-align: center;
  width: 70%;
  margin: auto;
}
