html,
body {
  margin: 0;
}

body {
  font-family: 'Fira Sans';
  background-color: #ddd;
}

h1 {
  font-size: 48px;
}

#update-physics {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

#content {
  text-align: center;
  width: 70%;
  margin: auto;
}

#physics-input {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
}

button {
  font-family: inherit;
}

@media screen and (max-width: 900px) {
  #content {
    width: 95%;
  }
}
